{% extends 'base.html' %}

{% block content %}



    <div id='login_box'>
        <div class='form_box col-lg-3 col-md-4 col-sm-6 col-xs-8'>

            <h2>Log in</h2>
            {% if form.errors %}
                {% for key,value in form.errors.items %}
                    <div class="alert alert-danger">
                        <p class='required'>The {{ key }} field is required.</p>
                    </div>
                {% endfor %}
            {% endif %}

            <form action='' method='post'>{% csrf_token %}
                {% load skillfilters %}
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    {{ form.username|addClass:'form-control' }}
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    {{ form.password|addClass:'form-control' }}
                </div>
                <input id='login_button' class='btn btn-primary' type='submit' value='Log in'/>
                <input type='hidden' name='next' value='{{ next }}'/>
            </form>
        </div>
    </div>
{% endblock %}
